




body{
  background-color:#2ecc71;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color:#2c3e50;
  padding-left: -20px;
}
h1:after{
  display:block;
  height: 2px;
  background-color: #e67e22;
  width: 180px;
  content: " ";
  margin: 0 auto;
  margin-top: 20px;
}
.container{
  margin-left: 350px;
  margin-right: 500px;
  background-color:#1abc9c;

  padding-bottom: 20px;
  margin-bottom: 20px;

  border-radius: 20px;
  width: 700px;
  text-align: center;


}
#Enter,
#sec{
  color:#e67e22;
  height: 30px;
  width: 120px;
  border-radius: 20px;
  text-transform: uppercase;
  margin-left: 5px;
  font-size: 15px;
  border: 1px solid  #e67e22;



}
#Enter:focus,
#sec:focus{
  outline: none;
}
#Enter:hover,
#sec:hover{
  background-color: #e67e22;
  color:#fff;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.textFields{
  padding-top: 20px;

}
h1{
  text-align: center;
}
.center{

  width: 150px;
  height: 20px;
  text-align: center;

}
.center:focus{
  outline: none;
}
.done{
  text-decoration: line-through;
}
.DelButton{
  color: red;
  float:right;
  margin-right: 80px;
  height: 20px;
  width: 50px;
  border-radius: 10px;
}
.DelButton:hover{
  color:#fff;
  background-color: #e74c3c;
  border: 2px solid #e74c3c;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.li{
  font-size: 25px;
  color:#2c3e50;
  text-align: left;
}




.hi{
  height: 900px;
}






  @media only screen and (max-width:1140px){
    .container{
      margin-left: 190px;
    }
  }
  @media only screen and (max-width:930px){
    .container{
      margin-left: 110px;
    }
  }
  @media only screen and (max-width:825px){
    .container{
      margin-left: 60px;
    }
  }
  @media only screen and (max-width:775px){
    .container{
      margin-left: 15px;
    }
  }

  @media only screen and (max-width:727px){
    .container{
      margin-left: 2px;
       width: 500px;
    }
  }
